#logo-div {
  height: 100px; /* Adjusted height */
  width: auto;   /* Let width adjust to maintain aspect ratio */
  padding: 10px;
  display: flex;
  align-items:center;
  justify-content: center; /* Centers the image within the div */
  margin-left: 10px;
  /* Removed position: absolute */
}

#logo-div img {
  height: 50%;    /* Let the image fill the div's height */
  width: auto;     /* Maintain the aspect ratio */
  object-fit: contain; /* Ensures the image fits within the div */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  display:flex;
  
}

#logo-div:hover img {
  transform: scale(1.05); /* Slightly scale up the logo on hover */
}

@media (max-width: 768px) {
  #logo-div img {
    max-width: 100px; /* Adjusts the size on smaller screens */
  }
}
